# Server Port
PORT=8080

# MongoDB Connection URI
MONGO_URI=your_mongodb_connection_uri

# JWT Secrets
SECRET_KEY=your_secret_key
ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret

# Stripe Keys
STRIPE_PUBLISHABLE_KEY=pk_xxxxxxxxxxxxx
STRIPE_SECRET_KEY=sk_xxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret

# Frontend URL
CLIENT_URL=http://localhost:5173

# Environment
NODE_ENV=development